* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #039c24;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  //   text-align: center;
}
.wrapper {
  width: 200px;
  height: 200px;
  margin: 15% auto;
}
.box-area {
  animation: animate 10s ease-in-out infinite;
  transform-style: preserve-3d;
  transform-origin: 100px 100px 0;
}

.box-area div {
  position: absolute;
  width: 200px;
  height: 200px;
  line-height: 200px;
}
.box-area .box-1 {
  background-image: url(1.png);
  background-size: cover;
  background-position: center center;
  transform: translateZ(100px);
}
.box-area .box-2 {
  background-image: url(2.png);
  background-size: cover;
  background-position: center center;
  transform: rotateY(90deg) translateZ(100px);
}
.box-area .box-3 {
  background-image: url(3.png);
  background-size: cover;
  background-position: center center;
  transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
}
.box-area .box-4 {
  background-image: url(4.png);
  background-size: cover;
  background-position: center center;
  transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
}
.box-area .box-5 {
  background-image: url(5.png);
  background-size: cover;
  background-position: center center;
  transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
}
.box-area .box-6 {
  background-image: url(6.png);
  background-size: cover;
  background-position: center center;
  transform: rotateX(-90deg) translateZ(100px);
}
@keyframes animate {
  from,
  to {
    transform: rotateX(0deg) rotateY(0deg) rotate(0deg);
  }
  16% {
    transform: rotateY(-90deg);
  }
  33% {
    transform: rotateY(-90deg) rotateZ(90deg);
  }
  50% {
    transform: rotateY(-180deg) rotateZ(90deg);
  }
  66% {
    transform: rotateY(-270deg) rotateZ(90deg);
  }
  83% {
    transform: rotate(90deg);
  }
}
